@media (max-width: 600px){
    .nav__list {
        display: none;
    }

    .nav-btn {
        display: block;
    }
}


@media (max-width: 1280px) {
    .container {
        width: 80%;
    }
    
    .proposal-button {
        font-size: 12px;
    }

    .order__form-button {
        font-size: 11px;
    }
}

@media (max-width: 1080px) {
    .proposal-button {
        font-size: 11px;
    }
    .container {
        width: 90%;
    }    
}

@media (max-width: 920px) {
    .about__inf {
        display: flex;
        flex-flow: row;
        width: 100%;
    }
    
    .about__inf-title {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.1875px;
        color: #48555B;
    }

    .about__text {
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.1875px;
        color: #48555B;
    }

    .about__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .about__card-ruler {
        padding: 15px 58px 151px 14px;
        background: url(../Images/card/ruler.jpg) no-repeat;
        background-size: cover;
        width: 180px;
        height: 264px;
    }
    
    .about__card-notebook {
        padding: 15px 16px 151px 14px;
        background: url(../Images/card/notebook.png) no-repeat;
        background-size: cover;
        width: 180px;
        height: 264px;
    }
    
    .about__card-WeBuild {
        padding: 15px 50px 151px 14px;
        background: url(../Images/card/wall.png) no-repeat;
        background-size: cover;
        width: 180px;
        height: 264px;
    }
}

@media (max-width: 768px) {
    .footer__links-list {
        display: flex;
        flex-flow: column;
    }

    .footer__linlks {
        width: 78px;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4.42%;
        padding-bottom: 4.21%;
    }
}

@media (max-width: 730px) {
    .about__cards {
        justify-content: space-around;
        min-width: 0;
    }
    
    .about__card-ruler {
         padding: 6% 22% 66% 6%;
        background-size: contain;
        width: 23.3%;
        height: 37.3%;
    }
    
    .about__card-notebook {
        padding: 6% 22% 66% 6%;
        background-size: contain;
        width: 23.3%;
        height: 37.3%;
    }
    
    .about__card-WeBuild {
        padding: 6% 22% 66% 6%;
        background-size: contain;
        width: 23.3%;
        height: 37.3%;
    }
    
    .about__card-title {
        font-size: 18px;
    }
    
    .proposal__head {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 8.2%;
    }    

    .poroposal__head-text {
        padding: 10px 0px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .about__inf {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .proposal__cards {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .proposal__card {
        width: 80%;
        margin-bottom: 30px;
    }

    .order__form {
        display: flex;
        flex-flow: column;
        align-items: center
    }

    .order__form-title {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .order__form-button {
        width: 250px;
    }
}

@media (max-width: 414px) {
    .header__title {
        font-size: 35px;
        line-height: 50px;
    }
    
    .header__subtitle {
        font-size: 11px;
        line-height: 18px;
    }

    .order__title {
        font-size: 20px;
        line-height: 21px;
    }

    .about__card-title {
        font-size: 13px;
        line-height: 18px;
    }

    .footer__content {
        display: flex;
        flex-flow: column;
    }

    .footer__company-inf {
        width: 50%;
        margin-bottom: 30px;
    }
    
    .footer__linlks {
        width: 80%;
        margin-bottom: 30px;
    }
    
    .footer__links-list {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .footer__contact {
        width: 100%;
    }
    
    .contact-maill {
        display: block;
    }
    
    .footer__social-links {
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-top: 30px;
    }

}
