*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 0px;
    font-family: Open Sans;
}

.wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 65.3%;
    margin: 0 auto;
}

/*-----header-----*/

.header {
    background: url(../Images/background/header.png) center no-repeat;
    background-size: cover;
}

.header__content {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 4.2% 0 7.3%;
}

.header__logo {
    background: url(../Images/logo/header-logo.png);
    width: 101.62px;
    height: 23px;
    
}

.header__title {
    font-family: Prompt;
    font-size: 7vh;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
}

.header__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.scroll-button {

    border: none;
    background: transparent;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
}

/*-----nav-----*/

.nav {
    border-bottom: 1px solid #E6E6E6;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
}

.nav-container {
    padding: 2.5% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__logo {
    display: inline-block;
    width: 101.62px;
    height: 23px;
    background: url(../Images/logo/nav-logo.png) no-repeat;
    background-size: cover;
}

.nav__list {
    min-width: 402px;
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    margin-left: 7%;
}

.link {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
    color: #48555B;
}

.link:hover {
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.09091px;
    color: #00A4E5;
}

.nav-btn {
    position: absolute;
    z-index: 1;
    display: none;
    top: calc(50% - 14px);
    right: 0;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

.nav-btn__burger {
    position: absolute;
    top: 13px;
    height: 2px;
    width: 30px;
    background-color: #333333;
}

.nav-btn__burger:before {
    content: '';
    position: absolute;
    top: -10px;
    height: 2px;
    width: 30px;
    background-color: #333333;
}

.nav-btn__burger:after {
    content: '';
    position: absolute;
    top: 10px;
    height: 2px;
    width: 30px;
    background-color: #333333;
}


/*-----about-----*/

.about__header {
    display: flex;
    justify-content: center;
    padding-top: 6.1%;
}

.about__title {
    position: relative;
    margin-bottom: 68px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.about__title::before {
    position: absolute;
    top: 130%;
    left: calc(50% - 25px);
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}

.about__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 12.4%;
}

.about__inf {
    display: flex;
    flex-flow: column;
    width: 42.11%;
}

.about__inf-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.blue-letters {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #00A4E5;
}

.about__text {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.about__cards {
    display: flex;
    justify-content: space-between;
    min-width: 460px;
}

.about__card-ruler {
    padding: 15px 58px 151px 14px;
    background: url(../Images/card/ruler.jpg) no-repeat;
    background-size: cover;
    width: 140px;
    height: 224px;
}

.about__card-notebook {
    padding: 15px 16px 151px 14px;
    background: url(../Images/card/notebook.png) no-repeat;
    background-size: cover;
    width: 140px;
    height: 224px;
}

.about__card-WeBuild {
    padding: 15px 50px 151px 14px;
    background: url(../Images/card/wall.png) no-repeat;
    background-size: cover;
    width: 140px;
    height: 224px;
}

.about__card-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3vh;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
}

/*-----proposal-----*/

.proposal__head {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 8.2%;
}

.proposal__head-title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.proposal__head-title::before {
    content: '';
    position: absolute;
    top: 100%;
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
}

.poroposal__head-text {
    margin-left: 16.2%;
    width: 42.6%;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.proposal-button {
    width: 150px;
    height: 40px;
    padding: 11px 29px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    border: none;
    color: #FFFFFF;
    background-color: #00A4E5;
}

.proposal__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12.1%;
}

.proposal__card {
    padding: 38px 22px;
    width: 31%;
    height: 34.7%;
    border: 1px solid #E6E6E6;
}

.proposal__card-image-pen {
    width: 71px;
    height: 75px;
    margin-bottom: 25px;
    background: url(../Images/card/\ pen-box.png) no-repeat center;
}

.proposal__card-image-store {
    width: 71px;
    height: 75px;
    margin-bottom: 25px;
    background: url(../Images/card/store.png) no-repeat center;
}

.proposal__card-image-bank {
    width: 71px;
    height: 75px;
    margin-bottom: 25px;
    background: url(../Images/card/\ bank.png) no-repeat center;
}
.proposal__card-title {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}
.proposal__card-text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

/*-----order-----*/

.order {
    display: flex;
    flex-direction: column;
}
.order-bgr {
    background: url(../Images/background/order.png) center no-repeat;
    background-size: cover;
}

.order__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order__head {
    width: 36.8%;
    padding: 12.6% 0px 2.6%;
}
.order__title {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 4vh;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
}
.order__button {
    padding: 11px 26px;
    margin-bottom: 22%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    border: none;
}

.order__signup {
    background: #171819;
}

.signup {
    padding: 30px 0px;
}

.order__form {
    display: flex;
    justify-content: center;
}

.order__form-title {
    margin-right: 7.3%;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.order__form-input::placeholder {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    color: #48555B;
}

.order__form-input:focus::placeholder {
    opacity: 0;
}

.order__form-input {
    padding-left: 15px;
    border: none;
    width: 250px;
    height: 40px;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    color: #000000;
}

.order__form-button {
    border: none;
    padding: 11px 49px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
}

/*-----foter-----*/

.footer {
    background: #141A20;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 4.42%;
    padding-bottom: 4.21%;
}

.footer__company-inf {
    width: 26.3%;
}
.company-inf-title {
    margin-bottom: 19px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}
.footer__company-logo {
    background: url(../Images/logo/header-logo.png) no-repeat;
    width: 101.6px;
    height: 23px;
    margin-bottom: 15px;
}

.footer__company-inf-text {
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
}

.footer__linlks {
    width: 260px;
}

.footer__links-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer__links-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.item-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.item-link:hover {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #00A4E5;
}

.footer__contact {
    width: 14.8%;
}

.footer__contact-title {
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.contact-address {
    width: 100px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.contact-call {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.contact-maill {
    text-decoration: none;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    width: 9.16%;
    padding-top: 30px;
}
.facebook-link {
    width: 12.04px;
    height: 12.04px;
    background: url(../Images/logo/facebook.png);
}
.twitter-link {
    width: 12.04px;
    height: 12.04px;
    background: url(../Images/logo/twitter.png);
}
.google-link {
    width: 12.04px;
    height: 12.04px;
    background: url(../Images/logo/google.png);
}
.footer__copy-paste {
    background: #171819;
}
.copy-paste {
    padding: 22px 0px;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}
